<html>
<head>
<title>Values Quiz</title>
</head>
<body bgcolor=#ffffff>
<div>
<h2>Values Quiz</h2>
  <h3> Please answer the following questions in the source code and if you answer all questions correctly then you will experience the thrill of pushing your code to live </h3>

  <div class="columns">

    <div>
      <p id="q1" class="que">Question 1. Fill in the blank<br/>
        Knowledge for healthcare professionals and patients should be [blank] and unbiased.
      </p>
      <pre id="a1">
        a. well sourced
        b. headstrong
        c. blind tested
        -d. independent
        e. unconventional
      </pre>
    </div>

    <div>
      <p id="q2" class="que">Question 2. Evidence is irrelevant
      </p>
      <pre id="a2">
        a. True
        -b. False
      </pre>
    </div>

    <div>
      <p id="q3" class="que">Question 3. How do we create trust?
      </p>
      <pre id="a3">
        a. Using the correct amount of eye contact
        b. Taking a leap of faith
        -c. Being transparent and open
        d. Allowing our customers to lead us blind folded
        e. Being opaque and closed
      </pre>
    </div>

    <div>
      <p id="q4" class="que">Question 4. Match the value to the description<br/>
        We value and listen to the individuals and teams around the world who have chosen to work with us. We strive to create the right culture for ideas to flourish and we are committed to supporting staff development and rewarding success.
      </p>
      <pre id="a4">
        -a. We take pride in our people
        b. Do it well or not at all
        c. What we do is better if users are involved
        d. Improving healthcare is difficult and requires courage
        e. Evidence matters
      </pre>
    </div>

    <div>
      <p id="q5" class="que">Question 5. Select the words to fill in the blanks<br/>
        __ it __ or __ at __
      </p>
      <pre id="a5">
        a. Give, everything, nothing, all
        -b. Do, well, not, all
        c. Perform, well, don’t, all
        d. Complete, quickly, not, all
        e. Achieve, in-style, not, all
      </pre>

    </div>

    <div>
      <p id="q6" class="que">Question 6. What we do is better if users are involved.
        Who are the experts in our users experiences?
      </p>
      <pre id="a6">
        -a. Users
        b. Product owners
        c. Stakeholders
        d. Geoffry
        e. Co-Lab
      </pre>
    </div>

    <div>
      <p id="q7" class="que">Question 7. Fill in the blank<br/>
        Serving our customers to the best of our ability helps to improve [blank].
      </p>
      <pre id="a7">
        a. profits
        b. user satisfaction
        c. patient outcomes
        d. customer service
        -e. healthcare
      </pre>
    </div>

    <div>
      <p id="q8" class="que">Question 8. Fill in the blank</br>
        Improving healthcare is difficult and requires [blank].
      </p>
      <pre id="a8">
        a. dedication
        b. innovation
        c. investment
        -d. courage
        e. doctors
      </pre>
    </div>
  </div>

  <div id="footer">Copyright © valuequiz.com</div>
</div>
</body>
</html>
