<p>Just put a - before your selected answer and commit the file to check your answers in the CD pipeline</p>
<ol>
  <li>Question 1</li>
  <ul>
    <li>Answer A
    </li>
    <li>Answer B
    </li>
    <li>Answer C
    </li>
  </ul>
  <li>Question 2</li>
    <ul>
    <li>Answer A
    </li>
    <li>Answer B
    </li>
    <li>Answer C
    </li>
  </ul>
  <li>Question 3</li>
    <ul>
    <li>Answer A
    </li>
    <li>Answer B
    </li>
    <li>Answer C
    </li>
  </ul>
  <li>Question 4</li>
    <ul>
    <li>Answer A
    </li>
    <li>Answer B
    </li>
    <li>Answer C
    </li>
  </ul>
  <li>Question 5</li>
    <ul>
    <li>Answer A
    </li>
    <li>Answer B
    </li>
    <li>Answer C
    </li>
  </ul>
  <li>Question 6</li>
    <ul>
    <li>Answer A
    </li>
    <li>Answer B
    </li>
    <li>Answer C
    </li>
  </ul>
</ol>

