<html>
<head>
<title>Values Quiz</title>
</head>
<body bgcolor=#ffffff>
<div>
<h2>Values Quiz</h2>
 <h3> Please answer the following questions in the source code and if you answer all questions correctly then you will experience the thrill of pushing your code to live </h3>
<P id="que">1. The word which means "house" is:<BR>
<input type="radio" name="1.The word which means house is" value="maison">maison<BR>
<input type="radio" name="1.The word which means house is" value="quatre">quatre<BR>
<input type="radio" name="1.The word which means house is" value="soleil">soleil<BR>
<input type="radio" name="1.The word which means house is" value="poisson">poisson<BR>
</p>

<P id="que">2. The word which means "fish" is:<BR>
<input type="radio" name="2. The word which means fish is" value="maison">maison<BR>
<input type="radio" name="2. The word which means fish is" value="valise">valise<BR>
<input type="radio" name="2. The word which means fish is" value="soleil">soleil<BR>
<input type="radio" name="2. The word which means fish is" value="poisson">poisson<BR>
</p>

<P id="que">3. The word which means "suitcase" is:<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">renard<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">valise<BR>
<input type="radio" name="3. The word which means suitcase is" value="soleil">soleil<BR>
<input type="radio" name="3. The word which means suitcase is" value="poisson">poisson<BR>
</p>
<P id="que">4. The word which means "suitcase" is:<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">renard<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">valise<BR>
<input type="radio" name="3. The word which means suitcase is" value="soleil">soleil<BR>
<input type="radio" name="3. The word which means suitcase is" value="poisson">poisson<BR>
</p>
<P id="que">5. The word which means "suitcase" is:<BR>
<input type="radio" name="3. The word which means suitcase is" value="renard">renard<BR>
<input type="radio" name="3. The word which means suitcase is" value="valise">valise<BR>
<input type="radio" name="3. The word which means suitcase is" value="soleil">soleil<BR>
<input type="radio" name="3. The word which means suitcase is" value="poisson">poisson<BR>
</p>
<div id="footer">Copyright © valuequiz.com</div>
</div>
</body>
</html>